<!DOCTYPE html>
<html>

<head>
	<title>Donation Prompt</title>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' type='text/css' href='../assets/stylesheets/style.css'>
	<link rel="stylesheet" type="text/css" href="../assets/stylesheets/reset.css">
</head>

<body>

	<button id="donate-button">
			<img id='jg-logo' src="../assets/images/url.jpg">Donate
	</button>

	<script src='../src/Donation.js'></script>
	<script src='http://code.jquery.com/jquery-2.1.1.min.js'></script>
		<script>
			$(document).ready(function() {
				var donate = new Donation

				console.log('hello!')


			});

		</script>
</body>


</html>



